*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* estilo para el body */
body {
    background-color: #FCF6EA;
   font-family: "Playfair Display", serif;
   }
/* Estilos del header */
header { 
    background-color: #fbf5e8;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    margin: 1%;
 }
 header h1{
    margin-left: 25rem;
    color: #513720;
 }
 header img{
    width: 10rem;
}
.minavbar {
   background-color: #fbf5e8;
   font-weight: bold;   
}
.derecha{
    justify-content: flex-end;
}
/*  estilos del main */
main h2{
    margin-left: 5rem;
    color: #513720;}
main p.des{
    text-align: justify;
    margin: 5%;
  }
main .fondotitulo{
    display: flex;
    flex-direction: column;
   justify-content: center;
    background-image:url(../img/fondoinicio.png);
    background-size: 25%;
    height: 200px;
}
main div h2{
text-align: center;
display: inline-block;
margin: 2rem 32rem;
background-color:#d8dde0;
font-weight: bold;
}
main div p{
    text-align: center; 
    font-weight: bold;
    background-color:#d8dde0;
}
main section {
    background-color: #DF948E;
    background-size: 100vw;
}
main section h3{
    width: 100vw;
    padding: 3%;
    margin-left: 0;
    font-size: 1.8rem;
    text-align: center;
    background-color:#fbf5e8;
}
.contenedor-creaciones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100vw;
  }
.item-creacion{
    width: 100%;
    aspect-ratio: 4/5;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;

}
main section img{
    width: 85%;
    height: 85%;
    object-fit: contain;
  }
  .ubication{
    text-align: center;
    background-color: white;
  }
  .contacto{
    background-color: white;
    margin: 2.5%;
    font-weight: normal;
  }
  .tit{
    font-weight: bold;
  }
  .mapa{
    margin-left: 10rem;
  }
/* Estilos de footer */
footer {
    background-color: white;
    display: flex;
    text-align: center;
    padding: 1%;
    align-items: center;
 }
 footer .imgfooter{
    display: block;
        
 }
footer .deco{
   width: 100%; 
}
footer .redsocial{
    width: 40%;
    margin: 10%;
}
footer p {
    width: 100%;
    font-size: 1.5rem;
    text-align: justify;
    margin: 2%;
}
footer .enlaces{
    display: flex;
    width: 50vw;
}
/* Media Queries */
@media( max-width: 989px){
    /* Header */
h1{margin-left: 1rem !important;
font-size: 5vw;}
.logo{width: 20vw;}
/* Main */
h2{width: 100%;
margin-left: 1rem !important;
font-size: 5vw;}
.contenedor-creaciones{
display: grid;
grid-template-columns: 1fr 1fr;}
/* Footer */
.desfooter{ font-size: 2vw;}
footer .deco{
margin-left: 1%;
width: 10vh;
height: 10vh;}
}