@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;

/* Estilos de footer */
footer {
    padding: 1%;
    margin-bottom: 1%;   
    background-color: #f1ebe6; /* beige cálido */      
}   
footer{
     span{
        display: block;
    }
 }
 footer{
     .siguenos{
        font-weight: bold;
        color: #6b6b6b;
        font-size: 1.5rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1.5px;
        padding-left: 5%;
        padding-bottom: 1%;
    }
 }
footer{
     .redsocial{
        @include tamaño (40%, 4%);      
        margin: 1%;
        border-radius: 50%;
        border: 1px solid #d8cfc8;    
    }      
}
.redsocial:hover {
  animation: bounce 0.9s;
}
footer{
    p {
        line-height: 1.8;
       @include tamaño (100%, 5%);
        font-size: 1.3rem;      
        color: #3f3f3f; 
        letter-spacing: 2px;
    }   
}
footer{    
    .enlaces{
    display: flex;
    width: 50vw;
}
}
@media(max-width: $bt-responsive){
    .desfooter{font-size: 2vw;}
    footer{
         .deco{
            margin-left: 1%;
            width: 10vh;
            height: 10vh;}
        }
}