@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;


/* Estilos del Main productos */
.btn-custom{
    background-color:$color-boton; 
    border-radius: 5px;
    font-weight: bold;
    color: $color-tipografia;
}
.redon-img{
    @include imagen-cards (100%, 4/3);  
}
 @media(max-width: $bt-responsive){
   .titulos-productos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;}
    .container{
         h4{
            font-size: 1rem;
            padding:4%;}
        }
}